---
title: Events
---

#contact
  .section_header
    %h3 Event listings
  .row.contact
    .span12
      %p
        We don't currently list events for the different churches on this website.
        %br
        Is this something that you'd like to see? Send us feedback!
    = render 'feedback'
