---
title: Feedback
---

#contact
  .section_header
    %h3 Feedback
  .row.contact
    .span12
      %p
        We'd love to hear what you think about the new site, along with any suggestions for improvement!
    = render 'feedback'
